# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\les formation tech\les projets 2020 bourki mohamed Confirme teste\ecohndy paerty 2\ecohondy\appstore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
