{% extends 'base.html' %}
{% block title %}Profile{% endblock  %}
{% block content%}
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <h3>detail information</h3> <hr>
            <p><span class="font-weight-bold">Name:</span>{{customer.full_name}}</p>
            <p><span class="font-weight-bold">User name:</span>{{customer.user}}</p>
            <p><span class="font-weight-bold">Email:</span>{{customer.user.email}}</p>
            <p><span class="font-weight-bold">Address:</span>{{customer.address}}</p>
            <p><span class="font-weight-bold">Join on:</span>{{customer.joined_on}}</p>



        </div>
        <div class="col-md-8">
            <h3>Previous order</h3>
          <hr>
           <table class="table">
               <thead>

               <tr>
                   <th>SN</th>
                   <th>Order ID</th>
                   <th>Amount</th>
                   <th>Ordered</th>
                   <th>Status</th>


               </tr>
           <tbody>
           {% for ord in orders %}
           <tr>
                  <td>{{forloop.counter}}</td>
                   <td> <a href="{% url 'appstore:customerorderdeatail' ord.pk %}">{{ord.id}}</a></td>
                   <td>{{ord.total}}</td>
                   <td>{{ord.created_at|timesince}} ago</td>
                    <td>{{ord.order_status}}</td>


           </tr>

           {% endfor %}

           </tbody>
               </thead>
           </table>

        </div>
    </div>
</div>

{% endblock %}
